.Home_PersonImage {
    padding: 0.5rem;
    border-radius: 50%;
    border: solid #FFB600 0.5rem;
    position: relative;
    margin: 0 auto;
}

.Home_Timer {
    font-family: 'Roboto', sans-serif;
}

.Home_TimerTime {
    font-size: 50px;
}

.Home_TimerNoon {
    font-size: 18px;
}

.Home_Calendar {
    padding: 0 2rem;
    margin-top: 2rem;
}

.MuiPickersStaticWrapper-staticWrapperRoot {
    border: solid 1px #E5E5E5 !important;
    border-radius: 5px !important;
    padding: 2rem 2rem !important;
}

.MuiPickersBasePicker-pickerView {
    width: 100% !important;
    max-width: 100% !important;
}

.MuiPickersCalendarHeader-daysHeader {
    display: flex !important;
    justify-content: space-evenly !important;
}

.MuiPickersCalendar-week {
    display: flex !important;
    justify-content: space-evenly !important;
}
